[package]
name = "example-cli-rs"
version = "0.1.0"
authors = ["Toby Smith <toby@tismith.id.au>"]

[dependencies]
error-chain = "0.11.0"
log = "0.4.1"
stderrlog = "0.3.0"
clap = "2.31.2"

[dev-dependencies]
assert_cli = "0.5"
